/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
  Author's custom styles
  ========================================================================== */

html{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 8.5in) 1fr; /* 688px = 8.5in w page w 0.5in margins in firefox */
  grid-template-rows: minmax(11in, auto); /* 960 px = 11in page w 0.5in margins in firefox */
  grid-template-areas: ". body .";
  background-color: #eeeeee;
}

body{
  grid-area: body;
  background-color: white;
  display: grid;
  grid-template-columns: 8.8% auto 8.8%;
  grid-template-rows: 0.75in auto 0.75in;
  grid-template-areas:
    ". .         ."
    ". innerPage ."
    ". .         .";
}



h1, h2, h3, li, p {
  margin: 0;
  font-weight: normal;
}

ul{
  margin: 0 0 0 0;
  list-style: none;
  padding: 0;
}

h1{
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
}

h2{
  font-size: 16px;
  font-weight: 600;
  padding-top: 1px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #eeeeee, #ffffff);
  margin-bottom: 4px;
}

h3{
  font-size: 16px;
  font-weight: 600;
}

p, li {
  font-size: 16px;
  line-height: 24px;
}

img {
  height: 24px;
  width: 24px;
  margin-right: 16px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

section {
  z-index: 1;
}


/** Shared attributes **/

#education ul, #experience ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/** Contact Details **/

#contactDetails {
  grid-area: contact;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

#contactDetails ul{
  display: flex;
  flex-direction: column;
}

#contactDetails h2 {
  display: none;
}

#contactDetails li{
  white-space: nowrap;
}

#contactDetails img{
  margin-right: 8px;
}

li#email{
  order:1;
}

li#phone{
  order:2;
}

li#address{
  order: 3;
}


/** Header **/

header {
  grid-area: name;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

header p{
  text-transform: uppercase;
  font-weight: 600;
}

header #resume {
  display: none;
}

/* decorative braces */

#openBrace, #closedBrace{
  font-size: 120px;
  color: #eeeeee;
  z-index: 0;
}

#openBrace{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
}

#closedBrace{
  grid-row-start: -4;
  grid-row-end: -1;
  grid-column: 1;
  align-self: flex-end;
}

/** Projects **/

#projects {
  grid-area: projects;
}

/** Education **/

#education {
  grid-area: education;
}

/** Skills **/

#skills {
  grid-area: skills;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#skills h2{
  flex-basis: 100%;
}

#skills img {
  width: 20px;
  height: 20px;
  position: relative;
  top: -2px;
  left: -2px;
}

#skills li > ul {
  list-style: square;
  margin-left: 56px;
}

#skills li li {
  margin-right: 0;
  white-space: nowrap;
  padding-right: 0;
}

#skills#GPLs {
  grid-area: GPLs;
}

#skills#web {
  grid-area: web;
}

#skills#database{
  grid-area: database;
}

#skills#tools{
  grid-area: tools;
}

/** Experience **/

#experience {
  grid-area: experience;
  /*grid-row: 7/8;*/
}

#experience h3 {
  display: none;
}

#experience li{
  font-weight: bold;
}


/** References **/

#references {
  /*grid-row: 8/9;*/
  grid-area: references;
  z-index: 1;
}

/** Layout **/

#innerPage{
  grid-area: innerPage;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-row-gap: 24px;
  grid-template-rows: repeat(6,min-content) 1fr min-content;
  grid-template-areas:
    " contact   "
    " name      "
    " education "
    " projects  "
    " skills    "

    " experience"
    " .         "
    " references"
}


/* ==========================================================================
  Helper classes
  ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    /*background: transparent !important;*/
    /*color: #000 !important; !* Black prints faster *!*/
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


